<html>
    <head>
        <style>
            h1{
                text-align: center;
                font-weight: bold;
            }

            p{
                font-size: 15px;
            }

        </style>
    </head>
    <body>
        <h1>Hi {{name}},</h1>
        <p>Your email registered into our system</p>
        <p>Please verify your email</p>
        <p> Please, click the link below to verify your account</p>
        <a href='{{link}}'> verify your email</a>
        <p>{{link}}</p>
    </body>
</html>